body {
    display: flex;
    justify-content: center;
    margin-top: 90px;
    background-color: #000;
}

.game-container {
    width: 80%;
    padding: 15px;
    background-color: #4c4d48;
    border-radius: 8px;
}

table {

    width: 100%;
    border-collapse: collapse;
}

td {
    width: 40px;
    height: 40px;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(5, 70, 95);
    padding: 0;
    margin: 0;
    /* border: 1px solid */
}

.title {
    color: aqua;
}

.game-data {

    position: absolute;
    align-items: center;
    top: 40px;
}

.data {
    color: rgb(17, 194, 91);
    font-family: monospace;
    font-size: xx-large;
}

span {
    padding: 10px;
    font-size: x-large;
    font-style: italic;
}

tbody {
    align-items: center
}

.game-over-modal {
    display: none;
    position: fixed;
    top: 300px;
    left: 35%;
    width: 25%;
    height: 15%;
    background-color: rgb(51, 201, 84);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.play-again {
    border-radius: 15px;
    background-color: #ced847;
    padding: 7px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.start-restart {
    margin-right: 60px;
    padding: 7px;
    background-color: #ced847;
    border: none;
    font-size: large;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

button:hover {
    background-color: #5b9968;
}